{% extends 'base.html.twig' %}

{% block title %}New Blog{% endblock %}

{% block body %}
    <h1>Create new Blog</h1>

    {{ include('@XngageBlog/Blog/_form.html.twig') }}

    <a href="{{ path('blog_index') }}">back to list</a>
{% endblock %}
