{% extends 'base.html.twig' %}

{% block title %}Blog Webiste{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="col-12">Blogs</h1>
        <section class="col-12 col-md-9">
            {% for blog in blogs %}
                <article>
                    <h1><a href="{{ path('blog_display', {slug: blog.slug}) }}">{{ blog.title }}</a></h1>
                    <p>{{ blog.content|u.truncate(120, ' ... ', false) }}<a href="{{ path('blog_display', {slug: blog.slug}) }}">[Read more]</a> </p>
                    <footer>
                        <span>author: {{ blog.author.firstName }} {{ blog.author.firstName }}</span> |
                        <span>created at {{ blog.createdAt ? blog.createdAt|date('Y-m-d H:i:s') : '' }}</span> |
                        <span>updated at {{ blog.updatedAt ? blog.updatedAt|date('Y-m-d H:i:s') : '' }}</span>
                        <div>
                            {% for tag in blog.tags %}
                                <a href="{{ path('tag_blogs', {url: tag.url}) }}">{{ tag.label }}</a>
                            {% endfor %}
                        </div>
                    </footer>
                </article>
            {% else %}
                <div>
                    <p>There are no blogs yet!</p>
                </div>
            {% endfor %}
        </section>
        <aside class="col-12 col-md-3">
            <header>Categories</header>
            <ul>
                {% for blog in blogs %}
                    <li>{{ blog.category.name }}</li>
                {% endfor %}
            </ul>
        </aside>
    </div>
{% endblock %}
